<!DOCTYPE html>
<html>

<head xmlns:th="http://www.thymeleaf.org">
	<title>Spring Boot - POST-GET AJAXExample</title>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/get_response.js"></script>
	<script src="/js/d3.min.js"></script>
	<script src="/js/go.js"></script>
	<script src="/js/echarts.min.js"></script>
	<!-- <script src="/js/dataInspector.js"></script> -->
	
	<link rel='stylesheet' href='/css/dataInspector.css' />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
	<div>
    	<span style="display: inline-block; vertical-align: top;">
    		<div style="margin-left: 10px;">
        		<h2>变量关系</h2>
        	</div>
        	<div id="pre_set">
        		<button type="submit" id="build_net" class="btn">建立关系</button>
    			选择目标变量
				<select id="set_index" class="list-group"></select>
				<button type="submit" id="submit_index" class="btn btn-primary">设置</button>
			</div>
			<div id="index_list" style="width: 200px; height: 40px; margin-left: 50px;"></div>
        	<div style="margin-left: 10px;">
          		<div id="diagram_div" style="border: solid 1px black; width:600px; height:600px;"></div>
        	</div>
    	</span>
	    <span  style="display: inline-block; vertical-align: top;">
	    	<div id="history_chart" style="width: 600px; height: 400px; margin-left: 50px;"></div>
			<div id="relation_chart" style="width: 600px; height: 400px; margin-left: 50px;"></div>
	    </span>
	</div>

	<div style="height: 600px;">
		<div><h2>性能评价</h2></div>
		<div id="performdiv">
			<span id="perform_left" style="display: inline-block; vertical-align: top; width: 400px; height: 400px; margin-left: 50px;"></span>
			<span id="perform_pie1" style="display: inline-block; vertical-align: top; width: 400px; height: 400px;"></span>
			<span id="perform_pie2" style="display: inline-block; vertical-align: top; width: 400px; height: 400px;"></span>
		</div>
	</div>

</body>
</html>