<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
<title>Spring Boot - POST-GET AJAXExample</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<script src="/js/jquery-3.2.1.min.js"></script>
<!-- <script src="/js/postrequest.js"></script> -->
<script src="/js/get_response.js"></script>
<script src="/js/d3.min.js"></script>
<script src="/js/go.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>

<!-- <div class="container">
	<h1>POST-GET AJAX</h1>
	<div id="postdiv">
		<form id="customerForm">
			<label>FirstName</label>
			<input type="text" id="firstname" class="form-control"/>
			<label>LastName</label>
			<input type="text" id="lastname" class="form-control"/>
			<button type="submit" id="postBtn" class="btn btn-primary">Submit</button>
		</form>
	</div>
	
	<div id="postResultDiv">
	</div>
	<br/>
	<div id="getdiv">
		<button id="getBtn">Get All Customers</button>
	</div>
	<div id="getResultDiv">
		<ul class="list-group">
		</ul>
	</div>
</div> -->

<div class="container">
<h1>展示贝叶斯网络</h1>

<div id="getdiv">
		<button id="getBtn">获得网络结构</button>
	</div>
	<div id="getResultDiv">
		<ul class="list-group">
		</ul>
	</div>

</div>

<div id="myDiagramDiv" style="border: solid 1px blue; width:400px; height:300px">
		
</div>


</body>
</html>