<!DOCTYPE html>
<html>

<head xmlns:th="http://www.thymeleaf.org">
<title>Spring Boot - POST-GET AJAXExample</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<script src="/js/jquery-3.2.1.min.js"></script>
<!-- <script src="/js/postrequest.js"></script> -->
<script src="/js/log.js"></script>
<script src="/js/d3.min.js"></script>
<script src="/js/go.js"></script>
<script src="/js/echarts.min.js"></script>

<link rel='stylesheet' href='/css/dataInspector.css' />
<script src="/js/dataInspector.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
<div id="sample" class="container">
    <div id="logList">
    	<ul class="list-group"></ul>
    </div>
</div>

</body>
</html>